#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 2px solid #aabc;
    display: table;
    font-size: 95%;
    padding: 20px;
    margin-bottom: 1em;
    width: auto;
    text-align: left;
}

.toc_title {
	
    font-weight: 800;
    text-align: left;
}

#page-content {
background: #FFF;
padding-left: 150px;
padding-right: 150px;
text-align: left; 
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
text-align: left;
}

#list2 {
text-indent:0px; 
}